/* 
  ⚠️ TEMP VALUES
  PDF не содержит данных о цветах, отступах и шрифтах.
  Все значения ниже временные и подлежат замене после Figma.
*/

main {
    max-width: 1360px;
    margin: 0 auto;
    margin-top: 140px;
    padding: 0;
}

.hero {
  margin-bottom: 48px; /* TEMP */
}

.hero h1 {
  font-size: 40px; /* TEMP */
  font-family: "Montserrat-Bold";
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  color: #0082b8;
}

.hero p {
  font-size: 16px; /* TEMP */
  line-height: 1.5; /* TEMP */
}

.content article {
  margin-bottom: 24px; /* TEMP */
}

.content h2 {
  font-size: 26px; /* TEMP */
  margin-bottom: 12px; /* TEMP */
  font-family: "Montserrat-SemiBold";
  font-weight: 600;
  line-height: normal;
  font-style: normal;
}

.content p,
.content li {
  font-size: 16px; /* TEMP */
  line-height: 1.6; /* TEMP */
}

ul {
  padding-left: 20px; /* TEMP */
}

.article-main-img{
    border-radius: 24px;
    height: 177px;
    width: 100%;
}
.content article p{
    font-family: "Montserrat-Regular";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    color: #333;
}
.content .tabs{
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    border-radius: 24px;
    background-color: #f3fbff;
    margin-top: 16px;
    margin-bottom: 32px;
}
.tabs{
    color: #0082b8;
    font-family: "Montserrat-SemiBold";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.tabs ul li{
    font-family: "Montserrat-Medium";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18.01px;
    text-decoration-line: underline;
    color: #0082b8;
}
.content article img{
    height: 400px;
    border-radius: 24px;
    width: 100%;
}
.flex-content{
    display: flex;
    flex-direction: row;
    gap: 24px;
    flex-wrap: wrap;
}

@media(max-width:767px){
  main{
    margin-top: 60px;
  }
  .hero h1{
    font-weight: 600;
    font-family: "Montserrat-SemiBold";
    font-size: 20px;
    line-height: 140%;
    padding: 16px;
  }
  .article-main-img{
    height: 124px;
  }
  article{
    padding: 16px;
  }
  .content article p{
    font-size: 14px;
  }
  .content article img{
    height: 180px;
  }
  .content article{
    margin-bottom: 20px;
  }
  .content h2{
    font-size: 20px;
  }
  .content li{
    font-size: 14px;
    line-height: 120%;
  }
  .hero{
    margin-bottom: 16px;
  }
}